body {
    font-family: sans-serif; 
    margin-left: 2em;
    margin-right: 2em;
    font-size: 1em; 
    line-height: 130%;
    color: #3A628A;
}

a {
    text-decoration: none;
    color: #BF8E47;
}

a:hover {
    background-color: #FFCF89;
    color: #A6680D;
}

a:visited {
    color: #A6680D;
}

div {
    display: block;
}

#navbar {
    font-family: Tahoma, sans-serif;
    font-size: 95%;
    color: #0D4378;
    width: 100%;
    overflow: hidden;
}

#navbar ul {
    margin: 0em;
    padding: 0em;
    padding-left: 1em;
    display: block;
    overflow: hidden;
}

#navbar li {
    padding: 0em;
    margin: 0em;
    list-style: none;
    float: left;
}

#navbar .search {
    float: right;
}

#navbar .search #query {
    padding: 0.2em 0.2em 0.2em 18px;
    margin: 0em;
    border: solid 1px #ccc;
    color: #AAAAAA;
    background: url('../img/search.png') no-repeat center left;
}

#navbar li a {
    display: block;
    padding: 0.2em 1em 0.2em 1em;
    margin-left: 0.1em;
    /* css3, for latest chrome 4+, firefox 4+, etc. */
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    /* for firefox */
    -moz-border-radius-topleft: 0.5em;
    -moz-border-radius-topright: 0.5em;
    /* for webkit (older chrome and safari, etc) */
    -webkit-border-top-left-radius: 0.5em;
    -webkit-border-top-right-radius: 0.5em;

    color: #0D4378;
    background-color: #7EADDC; 
    text-decoration: none;
    text-shadow: #5C9DDC 0px 1px; 
}

#navbar li .activated {
    color: #7EADDC;
    text-shadow: #3A628A 0px 1px; 
    background: #0D4378;
}

#navbar li a:hover {
    color: #7EADDC;
    text-shadow: #0D4378 0px 1px; 
    background: #2972B8;
}

#content {
    border: solid 1px #0D4378;
    padding: 1em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: serif; 
    margin-top: 1em; 
    margin-bottom: 0.5em;
}

h1 {
    margin-top: 0em; 
    font-size: 1.5em; 
    color: #BA6E00;
    padding-bottom: 0.4em;
    border-bottom: 1px dashed #FFAF89;
}

h2 {
    font-size: 1.2em; 
    color: #BA6E00;
    margin-left: 0.2em;
}

h3 {
    font-size: 1.1em; 
    color: #555577;
    margin-left: 0.4em;
}

h4 {
    font-size: 1.1em; 
    color: #2972B8;
    margin-left: 0.6em;
}

h5 {
    font-size: 1.0em; 
    color: #2972B8;
    margin-left: 0.8em;
}

h6 {
    font-size: 1.0em; 
    color: #2972B8;
    margin-left: 1em;
}

p, pre, blockquote, table, ul, ol, dl {
    margin-top: 1em; 
    margin-bottom: 1em;
}

ul ul, ul ol, ol ol, ol ul {
    margin-top: 0.5em; 
    margin-bottom: 0.5em;
}

li {
    margin-left: 0.5em;
    margin-right: 0.5em; 
    margin-bottom: 0.5em;
    auto;
}

ul {
    margin-left: 0.5em; 
    padding-left: 0.5em;
}

dt {
    font-weight: bold;
}

img {
    border: none;
}

blockquote {
    padding: 0.4em; 
    background-color: #f6f5eb;
}

th, td {
    border: 1px solid #ccc; 
    padding: 0.3em;
}

th {
    background-color: #f0f0f0;
}

hr {
    border: none; 
    border-top: 1px solid #ccc; 
    width: 100%;
}

del {
    text-decoration: line-through; 
    color: #777777;
}

.toc {
    border: 1px solid #ccc; 
    font-size: 80%; 
    margin: 0.5em;
    padding: 0.2em;
    float: right;
}

.toc ul {
    margin: 0.5em 0.2em 0.5em 0.2em;
}

.toc li {
    list-style-type: none;
    margin: 0.2em;
}

.todo {
    font-weight: bold; 
    background-color: #f0ece8; 
    color: #a03020;
}

.justleft {
    text-align: left;
}

.justright {
    text-align: right;
}

.justcenter {
    text-align: center;
}

.center {
    margin-left: auto; 
    margin-right: auto;
}
html {

	background: #fff;
}

body {
	margin: 0;
	padding:0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 1.5em;
	width: 100%;
	display: table;
	background: url(images/cm_bg.jpg) repeat-x #fff;
}

a:link, a:visited {	color: #494949; text-decoration: underline; }
a:active, a:hover { color: #494949; text-decoration: none;}

p{
	
	font-family: Tahoma;
	font-size: 13px;
	color: #484848;
	text-align: justify;
	margin: 0 0 10px 0;
		
}



h1 {
	
	font-family: Tahoma;
	font-size: 18px;
	color: #676767;
	font-weight: normal;
	margin: 0 0 15px 0;
	
}


h2 {
	
	font-family: Tahoma;
	font-size: 16px;
	color: #0895d6;
	font-weight: normal;
	margin: 0 0 10px 0;
	
}

h3 {
	
	font-family: Tahoma;
	font-size: 11px;
	color: #2780e4;
	font-weight: normal;
	margin: 0 0 5px 0;
	
}

#container {
	width: 960px;
	margin: auto;
}

#cm_header {
	
	width: 960px;
	height: 157px;
	background: url(images/cm_header.jpg) no-repeat;
	background-position: 0 -2px;
	margin: 0 0 0 -15px;
	padding: 1px 0 0 0;
	
}

#cm_logo_area {
	
	width: 175px;
	height: 60px;
	margin: 25px 0 0 50px;
	float: left;
	
}

#cm_logo {
	
	font-family: Tahoma;
	font-size: 25px;
	color: #0e8fcb;
	margin: 0 0 5px 0;
}

#cm_slogan {
	
	float: left;	
	font-family: Tahoma;
	font-size: 12px;
	color: #000;
	font-style: italic ;
	margin: 5px 0 0 0;

}

#cm_social {
	
	width: 195px;
	height: 80px;
	float: right;
	margin: 30px 0 0 0 ;
}

#cm_social form {
	float: right;
	width: 185px;
	height: 36px;
	background: url(images/cm_search.jpg);
}

.field {
	float: left;
	width: 132px;
	height: 21px;
	border: none;	
	background: none;
	border: none;
	font-family: Tahoma;
	color : #686868;

	margin: 8px 0 0 10px;
}

.button {

	float: right;
	width: 35px;
	height: 22px;
	border: none;	
	background: url(images/cm_botton.jpg) no-repeat;
	margin: 8px 5px 0 0;
	cursor: pointer;

}

#cm_social img{
	float: right;
	margin: 0 20px 0 0;
	border: none;
}


/* menu */

#cm_menu {
	float: right;
	width: 960px;
	height: 40px;
	margin: 5px 0 0 0;
	padding: 0 ;
}

#cm_menu ul {
	float: right;
	margin: 0px;
	padding: 0 0 0 0;
	width: 550px;
	list-style: none;
}

#cm_menu ul li {
	display: inline;
}

#cm_menu ul li a {
	float: left;
	padding: 11px 20px;	
	text-align: center;
	font-size: 12px;
	text-align: center;
	text-decoration: none;
	background: url(images/cm_menu_divider.png) center right no-repeat;
	color: #2a5f00;	
	font-family: Tahoma;
	font-size: 12px;
	outline: none;
}

#cm_menu li a:hover, #cm_menu li .current {
	color: #fff;
}

#cm_menu li .last {
	background: none;
}

/* end of menu*/

#cm_content_area {
	
	width: 960px;
	margin: 20px 0 0 0;

}

#cm_left {
	
	float: left;
	width: 250px;
	

}

#cm_right {
	
	float:right;
	width: 685px;
	

}

.cm_section_1 {
	width: 250px;
	margin: 0 0 10px 0;
}

.cm_section_1 .top {
	width: 250px;
	height: 33px;
	background: url(images/cm_section_1_top.jpg) left no-repeat;
}

.top h1{
	display:block;
	float: left;
	margin: 15px 0 0 15px;
}

.top span.title{
	
	float: right;
	display: block;
	font-family: Tahoma;
	font-size: 10px;
	color: #000;
	margin: 15px 25px 0 0;
}

.cm_section_1 .middle {
	width: 250px;
	background: url(images/cm_section_1_mid.jpg) left repeat-y;
}

.cm_section_1 .bottom {
	width: 210px;
	background: url(images/cm_section_1_bottom.jpg) bottom left  no-repeat;
	padding: 10px 20px 5px 15px;
}


.templaemo_h_line {
	width: 100%;
	clear: both;
	height: 1px;
	background: url(images/cm_h_line.jpg);
	margin: 0 0 10px 0;
	
}

.templaemo_v_line {
	width: 1px;
	float: left;
	height: 260px;
	background: url(images/cm_v_line.jpg);
	
	
}

.cm_section_2 {
	width: 220px;
	margin: 0 0 10px 0 ;
	padding: 15px 15px 5px 15px;
}

.cm_section_2 .green {

	border-left: 8px solid #64d608;
	padding: 0 0 0 5px;
	margin: 0 0 15px 0;
	
}

.cm_section_2 .blue {

	border-left: 8px solid #0895d6;
	padding: 0 0 0 5px;
	margin: 0 0 15px 0;
	
}

.cm_section_2 .yellow {

	border-left: 8px solid #ffcc66;
	padding: 0 0 0 5px;
	margin: 0 0 15px 0;
	
}

.cm_section_3 {
	width: 685px;
	margin: 0 0  20px 0;
	background: url(images/cm_section_3_bg.jpg) no-repeat;
	background-position: 105px -5px;

	
}

.cm_section_3 h1{
	margin: 0 0 5px 0;
	
}


span.blue_title {
	font-family: Arial;
	font-size: 20px;
	color: #0895d6;
	display: block;
	margin: 0 0 25px 20px;
}


.cm_section_4 {

	width: 685px;
	margin: 0 0 15px 0;
	
}

.cm_section_5 {

	width: 685px;
	background: url(images/cm_section_5.jpg) top no-repeat;
	margin: 0 0 20px 0;
	padding: 15px 0 0 0;
	
}

.cm_two_col {

	width: 310px;
	padding: 0 15px 15px 15px;
	margin: 0 0 20px 0;
	
}

.cm_two_col img{
	margin: 0 0 10px 0;
}

.cm_gallery {
	margin: 0;
	padding: 0;
}

.cm_gallery img{
	float: left;
	margin: 0 0 20px 0;	
}

.cm_gallery img.mid{
	float: left;
	margin: 0 27px;	
}

.right {
	
	float: right;
	
}


.left {
	
	float: left;
	
}
#footer {
    width: 100%;
	height: 52px;
	margin: 20px 0;
	padding: 0;
	font-family: Arial;
	font-weight: bold;
	font-size: 12px;
	color: #FFF;
	text-align: center;
}
#footer a {
	font-weight: bold;
	color: #FFF;
}	
#cm_footer {
	width: 100%;
	height: 52px;
	background: url(images/cm_footer_bg.jpg);
	color: #fff;
	text-align: center;
	
	padding: 36px 0 0 0;
	margin: 0;
}

#cm_footer a{
	color: #fff;
	text-decoration: underline;
}

#cm_footer a:hover{
	color: #fff;
	text-decoration: none;
}

.cleaner {
	clear: both;
	height: 0;
	margin: 0;
	padding: 0;
}